
.nav-button {
    font-weight: bold;
    font-size: 1rem;
    
    transition: 300ms;

    width: fit-content;
    padding: 0.2rem 0.3rem;

    border-radius: 0.3rem;

    background-color: var(--first-color);
}

.nav-button:hover {
    cursor: pointer;
    color: var(--thirth-color);
    
    box-shadow: 0 0 15px var(--thirth-color);
}

@media (min-resolution: 299dpi) {
    .nav-button {
        font-size: 4rem;
        
        min-width: 19rem;
        padding: 1.8rem;
        border-radius: 1.2rem;

        text-align: center;
    }
}

/* @media (max-height: 1080px) {
    .nav-button {
        font-size: 4rem;
        
        padding: 1.5rem;
        min-width: 19rem;
        border-radius: 1rem;

        text-align: center;
    }
} */