
.nav-button {
    font-weight: bold;
    font-size: 1rem;
    
    transition: 300ms;

    width: fit-content;
    padding: 0.2rem 0.3rem;

    border-radius: 0.3rem;

    background-color: var(--first-color);
}

.nav-button:hover {
    cursor: pointer;
    color: var(--thirth-color);
    
    box-shadow: 0 0 15px var(--thirth-color);
}

@media only screen and (orientation: portrait) {
    .nav-button {
        font-size: 2.3rem;
        
        min-width: 9rem;
        padding: 0.3rem;
        border-radius: 0.5rem;

        text-align: center;
    }
}

@media only screen and (min-resolution: 240dpi) and (orientation: landscape) {
    .nav-button {
        font-size: 1rem;
        
        width: 6rem;

        padding: 0.8rem;
        border-radius: 0.5rem;

        text-align: center;
    }
}