#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;

    height: 3.2rem;

    display: flex;
    justify-content: end;
    align-items: end;
    gap: 5px;
    padding: 0.5rem;

}

@media only screen and (min-width: 1080px) {
    #nav-bar {
        padding: 0.5rem 1rem;
    }
}

