#general-subtitle {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--second-color);
}

.education-subtitle {
    font-size: 1.1rem;
    color: var(--second-color);

    padding-bottom: 0.5rem;
}